@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
h3{
    color: #000000;
}
h6{
    color:white;
}
a{
    text-decoration: none;
    
}
li{
    list-style: none;
}