footer{
    background-color:#000000;
    

    h6{
        font-size: 14px;
        
        
        
    }
    
}
.footer__div{
    background-color: #000000;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    ul {
        list-style-type: none;
        display: inline-flex;
    }
    
     a{
        color: white;
        font-size: 18px;
        margin-right: 50px;
        transition: 1s;
       
        &:hover{
            border-bottom: solid 1px white;
        }
    }
    
}


