@media screen and (max-width: 576px) {
  
   //inicio 
      main{
      .main__banner-home{ 
        display: flex;
        align-items: center;
        justify-content: center;
          .banner-home__h2 {
              text-align: center;
              letter-spacing: 50px;
              font-size: 50px;
              color: yellow;
        
        }
      }
      #contenedorCategorias{
         margin: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         flex-wrap: nowrap;
         .contenedorCategorias__div img{
          width: 300px;
         }
         
         h3{
          font-size: 16px;
         } 
         
        }
     //productos
      .encabezado{
        height: 150px;
        margin: 5px;
      }   
      #productosDestacados{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
      }
}
//compra
#main__comprar{
.pagina-compra{
  border-right: none;
  border-bottom: solid 2px black;
}
}
//footer
footer{
  h6{
    font-size:12px !important; 
  }
  .footer__div a{
    font-size: 14px;
}
}

}


    
  